.table {
    width: 800px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #404040;

    thead {
            background-color: #2a2a2a;
            color: white;

        tr {
            text-align: center;
        }

        th {
            text-align: center;
            border: 1px solid #404040;
            padding: 10px 0 10px;
            }
    }

    tbody {
        td {
                border: 1px solid #000000;
                padding: 8px;
            }

        tr:nth-child(even) {
                background-color: #d3d3d3;
            }
    }
}

.tdCapitalise {
    text-transform: capitalize;
}

